
.DS_Store
.Rbuildignore
.Rproj.user/6C8F28DA/pcs/debug-breakpoints.pper
.Rproj.user/6C8F28DA/pcs/files-pane.pper
.Rproj.user/6C8F28DA/pcs/source-pane.pper
.Rproj.user/6C8F28DA/pcs/windowlayoutstate.pper
.Rproj.user/6C8F28DA/pcs/workbench-pane.pper
.Rproj.user/6C8F28DA/persistent-state
.Rproj.user/6C8F28DA/rmd-outputs
.Rproj.user/6C8F28DA/saved_source_markers
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/6C8F28DA/sources/s-7641B0B5/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/6C8F28DA/sources/prop/INDEX
.Rproj.user/6C8F28DA/sources/prop/DB2D91BF
